body {
    margin: 0;
}

.carousel-item img {
    filter: brightness(50%);
}

.main {
    position: relative;

}

.positioning-content {
    position: relative;
    left: 190px;
    margin-top: -20px;

}